<div class="activity-card-container flex flex-col">
  <mat-card class="activity-card w-full !rounded-lg">
    <div class="flex xl:flex-row flex-col">
      <div class="text-content flex flex-col xl:w-4/5">
        <mat-card-header>
          <div class="activity-header w-full flex flex-col space-y-2">
            <div class="flex w-full justify-between">
              <div class="activity-poster flex space-x-2">
                <div class="flex justify-center flex-col">
                  <img
                    src="https://thispersondoesnotexist.com/"
                    class="rounded-full !m-0 max-w-10 max-h-10"
                    alt=""
                  />
                </div>

                <div class="flex h-full flex-col justify-center">
                  <p class="!m-0">John Doe</p>
                  <p class="text-gray-400 !text-[10px] italic !m-0">
                    Posted on 12/01/2025 at 21:04
                  </p>
                </div>
              </div>
              <div>
                <button
                  class="bg-secondary max-w-16 xl:max-w-36 px-2 py-1 text-white rounded-xl"
                >
                  <div
                    class="flex justify-center space-x-2 px-2 py-1 rounded-xl text-white items-center"
                  >
                    <mat-icon>arrow_forward</mat-icon>
                    <span class="text-md"> Join now!</span>
                  </div>
                </button>
              </div>
            </div>

            <mat-card-title class="activity-title">
              <div class="flex space-x-4">
                <h1 class="!text-2xl !m-0">Jam Session at Hard Rock Café</h1>
                <div
                  class="flex justify-center max-h-8 px-2 py-1 rounded-xl text-white bg-primary items-center"
                >
                  <mat-icon class="!text-lg -translate-y-0.5"
                    >music_note</mat-icon
                  >
                  <span class="font-normal !text-sm">Music</span>
                </div>
              </div>
            </mat-card-title>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="activity-details !my-4 flex space-x-5">
            <div class="flex justify-center space-x-1 items-center">
              <mat-icon>date_range</mat-icon>
              <span class="time">Sun. 02/02/25 at 17:05 </span>
            </div>

            <div class="flex justify-center items-center">
              <mat-icon>place</mat-icon>
              <span class="time">Hard Rock Café Tunis (Within 5.6km)</span>
            </div>
            <div class="flex justify-center items-center space-x-1">
              <mat-icon>people</mat-icon>
              <span class="time">8/10 participants</span>
            </div>
          </div>

          <p class="activity-description !mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            feugiat posuere laoreet. Mauris at magna sed sapien vehicula
            sodales. Duis varius porttitor diam ac interdum. Phasellus lacinia
            tempor elit, non auctor sem sagittis ut.
          </p>
        </mat-card-content>
      </div>
      <div class="activity-image xl:w-1/5">
        <img
          class="xl:h-[220px] w-full !rounded-lg"
          src="https://picsum.photos/400"
          alt=""
        />
      </div>
    </div>
  </mat-card>
</div>
