<div class="activity-card-container flex flex-col">
  <mat-card class="activity-card w-full !rounded-lg">
    <div class="flex xl:flex-row flex-col">
      <div class="text-content flex flex-col xl:w-4/5">
        <mat-card-header>
          <div class="activity-header w-full flex flex-col space-y-2">
            <div class="flex w-full justify-between">
              <div class="activity-poster flex space-x-2">
                <div class="flex justify-center flex-col">
                  <img
                    [src]="activity.creator.profilePic | imageNotFound"
                    class="rounded-full !m-0 max-w-10 max-h-10"
                    alt=""
                  />
                </div>

                <div class="flex h-full flex-col justify-center">
                  <p class="!m-0">
                    {{ activity.creator.firstName }}
                    {{ activity.creator.lastName }}
                  </p>
                  <p class="text-gray-400 !text-[10px] italic !m-0">
                    posted on {{ activity.createdAt | customDate }}
                  </p>
                </div>
              </div>
              <div>
                <!-- Conditional Rendering of Button -->
                <ng-container *ngIf="isCurrentUserCreator(); else joinButton">
                  <button
                    class="bg-secondary max-w-16 xl:max-w-36 px-2 py-1 text-white rounded-xl"
                    (click)="router.navigate(['/activity', activity.id])"
                  >
                    <div
                      class="flex justify-center space-x-2 px-2 py-1 rounded-xl text-white items-center"
                    >
                      <span class="text-md">View</span>
                    </div>
                  </button>
                </ng-container>
                <ng-template #joinButton>
                  <button
                    class="bg-secondary max-w-16 xl:max-w-36 px-2 py-1 text-white rounded-xl"
                    (click)="joinActivity(activity.id)"
                  >
                    <div
                      class="flex justify-center space-x-2 px-2 py-1 rounded-xl text-white items-center"
                    >
                      <span class="text-md">Join Now!</span>
                    </div>
                  </button>
                </ng-template>
              </div>
            </div>

            <mat-card-title class="activity-title">
              <div class="flex space-x-4">
                <h1 class="!text-2xl !m-0">{{ activity.title }}</h1>
                <div
                  class="flex justify-center max-h-8 px-2 py-1 rounded-xl text-white bg-primary items-center"
                >
                  <mat-icon class="!text-lg -translate-y-0.5">{{
                    activity.category.icon
                  }}</mat-icon>
                  <span class="font-normal !text-sm">{{
                    activity.category.name
                  }}</span>
                </div>
              </div>
            </mat-card-title>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="activity-details !my-4 flex space-x-5">
            <div class="flex justify-center space-x-1 items-center">
              <mat-icon>date_range</mat-icon>
              <span class="time">{{ activity.date | customDate }}</span>
            </div>

            <div class="flex justify-center items-center">
              <mat-icon>place</mat-icon>
              <span class="time">{{ activity.location.name }}</span>
            </div>
            <div class="flex justify-center items-center space-x-1">
              <mat-icon>people</mat-icon>
              <span class="time"
                >{{ activity.nbOfParticipants }} participants
              </span>
            </div>
          </div>

          <p class="activity-description !mb-0">
            {{ activity.description }}
          </p>
        </mat-card-content>
      </div>
      <div class="activity-image xl:w-1/5">
        <img
          class="xl:h-[220px] w-full !rounded-lg"
          [src]="activity.activityPhotos[0] | imageNotFound"
          alt=""
        />
      </div>
    </div>
  </mat-card>
</div>
<app-infobox
  *ngIf="showInfobox"
  [message]="'Successfully joined Activity!'"
  (close)="showInfobox = false"
></app-infobox>
