<section class="hero">
 <h1>Welcome to Flink!</h1>
 <button routerLink="/auth/signup">Get Started</button>
</section>
pod-racing and have light-saber fights.

<div>
  <p>
    I’m Derek, an astro-engineer based in Tattooine. I like to build X-Wings at
    <a class="underline decoration-sky-500">My Company, Inc</a>.
    Outside of work, I like to <a class="underline decoration-pink-500">watch
    pod-racing</a> and have <a class="font-medium underline decoration-indigo-500">light-saber</a> fights.
  </p>
</div>