<main class="min-h-screen m-0">
  <section class="bg-secondary/10 h-screen py-32">
    <div class="container mx-auto px-6 flex">
      <div class="flex flex-col justify-center items-center w-screen">
        <h2
          class="!text-4xl text-left md:text-7xl font-bold text-secondary mb-6 opacity-0 transform -translate-x-10 animate-slide-in"
        >
          Flink, because it's fun to
          <span class="inline-block text-primary animate-shake">
            link 🎉 <span class="text-black"> !</span>
          </span>
        </h2>
        <p
          class="text-gray-600 text-lg mb-8 max-w-2xl mx-auto text-center opacity-0 animate-fade-in-description"
        >
          Discover exciting activities, meet like-minded people, and make
          lasting connections. Whether you're passionate about outdoor
          adventures, creative pursuits, or simply socializing, Flink has the
          perfect experience waiting for you!
        </p>
        <a
          href="#activities"
          class="bg-primary mt-3 hover:bg-teal-500 text-white px-8 py-3 rounded-full text-lg transition-all duration-300 cursor-pointer opacity-0 animate-fade-in-button"
        >
          Explore Activities
        </a>
      </div>
      <div>
        <img
          src="assets/image.png"
          alt="Hero Image"
          class="mt-12 md:mt-0 opacity-0 animate-fade-in"
        />
      </div>
    </div>
  </section>
  <section>
    <div class="flex">
      <div class="w-1/2">
        <img src="/assets/yay.jpg" alt="" />
      </div>
      <div class="flex flex-col justify-center items-center w-1/2">
        <h2
          class="!text-4xl text-center md:text-7xl font-bold text-secondary mb-6"
        >
          No bore, no hassle, just <br />
          <span class="text-primary"> straight fun! </span>
        </h2>
        <p class="text-gray-600 text-lg mb-8 max-w-2xl mx-auto text-center">
          Join local adventures, make new friends, and create unforgettable
          memories. Whether you're into sports, arts, or just hanging out -
          Flink has something for everyone!
        </p>
        <a
          href="#activities"
          class="bg-primary mt-3 hover:bg-teal-500 text-white px-8 py-3 rounded-full text-lg transition-all duration-300 cursor-pointer opacity-0 animate-fade-in-button"
        >
          Explore Activities
        </a>
      </div>
    </div>
  </section>
</main>

<footer class="bg-secondary text-white py-8">
  <div class="flex justify-center items-center">
    <img src="/assets/flink_logo.png" class="max-h-8 px-4" alt="" />
  </div>
  <div class="border-t border-primary/20 mt-8 pt-4 text-center text-sm">
    © 2025 Flink. All rights reserved.
  </div>
</footer>
