<form
  [formGroup]="activityForm"
  (ngSubmit)="onSubmit()"
  class="form-container space-x-4 !w-full my-2 !overflow-auto bg-white p-4 rounded-lg shadow-md flex"
>
  <div class="flex flex-col w-1/2">
    <div class="flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <label for="title" class="text-lg">
          Title <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="w-full p-2 border border-gray-300 rounded-lg focus:border-gray-500 focus:outline-none transition-colors"
        />
        <div
          *ngIf="
            activityForm.get('title')?.invalid &&
            activityForm.get('title')?.touched
          "
          class="text-red-500 text-sm"
        >
          Title is required (min 3 characters)
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <label for="description" class="text-lg">
          Description <span class="text-red-500">*</span>
        </label>
        <textarea
          id="description"
          formControlName="description"
          class="w-full p-2 border border-gray-300 rounded-lg focus:border-gray-500 focus:outline-none transition-colors"
        ></textarea>
        <div
          *ngIf="
            activityForm.get('description')?.invalid &&
            activityForm.get('description')?.touched
          "
          class="text-red-500 text-sm"
        >
          Description is required (min 10 characters)
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <label for="location" class="text-lg">
          Location <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="location"
          formControlName="location"
          class="w-full p-2 border border-gray-300 rounded-lg focus:border-gray-500 focus:outline-none transition-colors"
        />
        <div
          *ngIf="
            activityForm.get('location')?.invalid &&
            activityForm.get('location')?.touched
          "
          class="text-red-500 text-sm"
        >
          Location is required
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <label for="date" class="text-lg">
          Date <span class="text-red-500">*</span>
        </label>
        <input
          type="date"
          id="date"
          formControlName="date"
          class="w-full p-2 border border-gray-300 rounded-lg focus:border-gray-500 focus:outline-none transition-colors"
        />
        <div
          *ngIf="
            activityForm.get('date')?.invalid &&
            activityForm.get('date')?.touched
          "
          class="text-red-500 text-sm"
        >
          Date is required
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <label for="time" class="text-lg">
          Time <span class="text-red-500">*</span>
        </label>
        <input
          type="time"
          id="time"
          formControlName="time"
          class="w-full p-2 border border-gray-300 rounded-lg focus:border-gray-500 focus:outline-none transition-colors"
        />
        <div
          *ngIf="
            activityForm.get('time')?.invalid &&
            activityForm.get('time')?.touched
          "
          class="text-red-500 text-sm"
        >
          Time is required
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-1/2 space-y-4">
    <div class="flex flex-col space-y-2">
      <label for="maxParticipants" class="text-lg">
        Max Participants <span class="text-red-500">*</span>
      </label>
      <input
        type="number"
        id="maxParticipants"
        formControlName="maxParticipants"
        class="w-full p-2 border border-gray-300 rounded-lg focus:border-gray-500 focus:outline-none transition-colors"
      />
      <div
        *ngIf="
          activityForm.get('maxParticipants')?.invalid &&
          activityForm.get('maxParticipants')?.touched
        "
        class="text-red-500 text-sm"
      >
        Must be at least 1 participant
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <label for="category" class="text-lg">
        Category <span class="text-red-500">*</span>
      </label>
      <select
        id="category"
        formControlName="category"
        class="w-full p-2 border border-gray-300 rounded-lg focus:border-gray-500 focus:outline-none transition-colors"
      >
        <option value="" disabled selected>Select a category</option>
        <option value="1">Category 1</option>
        <option value="2">Category 2</option>
        <option value="3">Category 3</option>
      </select>
      <div
        *ngIf="
          activityForm.get('category')?.invalid &&
          activityForm.get('category')?.touched
        "
        class="text-red-500 text-sm"
      >
        Category is required
      </div>
    </div>
    <div
      [ngClass]="{
        'bg-gray-300': activityForm.invalid,
        'bg-primary': activityForm.valid
      }"
      class="translate-y-4 text-white text-lg px-4 py-3 rounded-lg"
    >
      <button
        type="submit"
        [disabled]="activityForm.invalid"
        class="btn-primary flex justify-center items-center w-full text-center"
      >
        <h3 class="!m-0 text-center">Create Activity</h3>
      </button>
    </div>

    <div
      class="translate-y-4 text-white text-lg px-4 py-3 rounded-lg !bg-secondary"
    >
      <button
        type="button"
        (click)="onCancel()"
        class="btn-primary flex justify-center items-center w-full text-center"
      >
        <h3 class="!m-0 text-center">Cancel</h3>
      </button>
    </div>
  </div>
</form>
